/* Common */
.vscode-body figure[class|="f"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-inline-size: 100%;
  margin-block-start: 1.5em;
  margin-inline: auto;
}
.vscode-body figure[class|="f"] + * {
  margin-block-start: 1.5em;
}
.vscode-body figure[class|="f"] figcaption {
  inline-size: fit-content;
  text-align: justify;
  text-align-last: start;
  font-size: 0.95em;
  line-height: 1.55;
}
.vscode-body figure[class|="f"] figcaption:first-child {
  margin-block-end: 0.5em;
}
.vscode-body figure[class|="f"] figcaption:last-child {
  margin-block-start: 0.5em;
}
.vscode-body figure[class|="f"] figcaption span:first-child[class$="label"] {
  font-weight: bold;
  /* margin-inline-end: 0.5em; */
}
.vscode-body figure[class|="f"] figcaption span:first-child[class$="label"] span[class$="joint"] {
  font-weight: normal;
}

/* Image */
.vscode-body :not(figure) > img[width] {
  inline-size: auto;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: attr(width)/attr(height);
  max-block-size: 1.5em;
  vertical-align: middle;
}
.vscode-body figure[class|="f-img"] > img {
  display: block;
  /* max-inline-size: max-content ; */
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: attr(width)/attr(height);
}

.vscode-body figure.f-img-horizontal,
.vscode-body figure.f-mulitiple {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  max-inline-size: 100%;
}
.vscode-body figure.f-img-horizontal figcaption,
.vscode-body figure.f-mulitiple figcaption {
  display: block;
  flex-basis: 100%;
  text-align: center;
  text-align-last: start;
}
.vscode-body figure.f-img-horizontal > img {
  width: 25px;
  height: auto;
  flex: 1;
  margin-inline-end: 10px;
}
.vscode-body figure.f-img-horizontal > img:last-child {
  margin-inline-end: 0;
}
.vscode-body figure.f-img-vertical {
  display: flex;
  flex-direction: column;
}
.vscode-body figure.f-img-vertical > img {
  display: block;
  margin-block-end: 10px;
}
.vscode-body figure.f-img-vertical > img:last-child {
  margin-block-end: 0;
}

/* Table */
figure.f-table > table {
  /*   border-collapse: collapse; */
  border-spacing: 0;
}
.vscode-body figure.f-table > table :is(th, td) {
  font-size: 0.95em;
  line-height: 1.55;
  padding: 0.5em 1em;
  border-block-end: 1px solid currentcolor;
}
.vscode-body figure.f-table > table thead th {
  border-block-end: 3px double currentcolor;
  text-align: center;
}
figure.f-table > table:not(thead) tr:first-child td {
  border-block-start: 1px solid currentcolor;
}

/* pre-code, pre-samp */
.vscode-body pre > :is(code, samp) {
  display: block;
}
.vscode-body  figure[class|="f-pre"] {
  align-items: normal;
}
.vscode-body figure[class|="f"] > pre > :is(code, samp) {
  display: block;
  font-family: var(--vscode-editor-font-family), monospace;
  word-break: break-all;
  white-space: break-spaces;
}

/* Blockquote */
.vscode-body figure.f-blockquote {
  align-items: normal;
  margin-inline:  1em;
}
.vscode-body figure.f-blockquote blockquote + figcaption {
  text-align: end;
  text-align-last: end;
  inline-size: inherit;
}

.vscode-body pre > :is(code, samp) span.pre-line::before {
  display: inline-block;
  content: counter(pre-line-number);
  width: 2.2em;
  text-align: end;
  margin-inline-end: 0.5em;
  padding-inline-end: 0.25em;
}
@media (prefers-color-scheme: light) {
  .vscode-body pre > :is(code, samp) span.pre-line::before {
    color: #555;
    border-inline-end: 1px solid #777;
  }
  .vscode-body pre > :is(code, samp) span.pre-lines-emphasis {
    display: block;
    background-color: rgb(255, 255, 220);
  }
}
@media (prefers-color-scheme: dark) {
  .vscode-body pre > :is(code, samp) span.pre-line::before {
    color: #A0A0A0;
    border-inline-end: 1px solid #777;
  }
  .vscode-body pre > :is(code, samp) span.pre-lines-emphasis {
    display: block;
    background-color: rgb(50, 50, 0);
  }
}
.vscode-body pre > :is(code, samp) span.pre-line::after {
  content: '';
  counter-increment: pre-line-number;
}
